{% extends "base.html" %}

{% block title %}تغییر گذر واژه{% endblock %}
{% block content %}
    <h1>تغییر گذر واژه</h1>
    {% if validlink %}
        <p>گذر واژه جدید خود را وارد کنید</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <p>لینک تغییر گذرواژه نامعتبر است، شاید قبلا استفاده شده یا زمان آن گذشته</p>
    {% endif %}
{% endblock %}